<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Add present</title>
</head>
<body>
<main>
    <form th:action="@{/add-attendance}" method="post">
        <div>
            <label for="employeeSelect">Select employee:</label>
            <select name="employeeId" id="employeeSelect" required>
                <option value="" disabled selected>Select an employee</option>
                <option th:each="employee : ${employees}" th:value="${employee.id}" th:text="${employee.firstName + ' ' + employee.lastName}"></option>
            </select>
        </div>
        <div>
            <label for="isPresent">Is present: </label>
            <input id="isPresent" type="checkbox" name="isPresent">
        </div>
        <div>
            <label for="workedHours">workedHours: </label>
            <input id="workedHours" type="number" name="workedHours" min="0" max="24">
        </div>
        <div>
            <label for="date">Date: </label>
            <input id="date" type="datetime-local"name="date">
        </div>
        <button type="submit">Add present</button>
    </form>
</main>




</body>
</html>