
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Attend by date</title>
</head>
<body>
<h5>Search</h5>
<form th:action="@{/attend-by-date}" method="get">
    <input type="date" name="search">
    <button type="submit">Search</button>
</form>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Is present</th>
        <th>Worked hours</th>
        <th>Date</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="attendance : ${attendances}">
        <td th:text="${attendance.getName()}"></td>
        <td th:text="${attendance.isPresent()}"></td>
        <td th:text="${attendance.getWorkedHours()}"></td>
        <td th:text="${attendance.getDate()}"></td>

        <td>
            <!--                <a th:href="|/bird-details/${bird.id}|">View details</a>-->
            <a th:href="@{/attendance-detail/{attendance}(attendance=${attendance.id})}">View details</a>
        </td>
        <td>
            <form method="get" th:action="@{/edit-attendance/{id} (id = ${attendance.id})}">
                <button type="submit">Edit</button>
            </form>
        </td>
        <td>
            <form method="get" th:action="@{/delete/{id} (id = ${attendance.id})}">
                <button type="submit">Remove</button>
            </form>
        </td>
    </tr>

    </tbody>
</table>
</body>
</html>
